/*************************************************
Save with a name ending in .css such as styles.css
*************************************************/ 

/**************
Main text color
***************/
h1 { 
    color: #447870;
    padding: 10px; 
}

/*************************
Button group configuration
**************************/
.btn-group .button {
    background-color: #447870; /* Gold */
    border: none;
    color: #efea63;
    width: 33%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    float: left;
    font-size: 16px;
    cursor: pointer;
}
  
.btn-group .button:hover {
    background-color: #569b90;
}

/**************************
Single button configuration
***************************/
.button1 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #efea63;
    background-color: #447870;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #D5DBDB;
  }
  
.button1:hover {background-color: #569b90}
  
.button1:active {
    background-color: #3d6d66;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

/***********************************************
Image (on right side) next to text configuration
************************************************/
.imgcol {
    float: left;
    width: 30%;
    padding: 5px;
  }
  
.txtcol {
    float: left;
    width: 60%;
    padding: 5px;
  }

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
  }